# Ignore all .log files
*.log

# Ignore folder
oft-control/log/
oft-db/data/
oft-db/log_cot/
oft-t2i/sddata_orig/
oft-t2i/sddata/
lightning_logs/
log/
fbd/

# Ignore the 'build' folder
build/

# Ignore all .pyc files
*.pyc
*.txt
*.jpg
# *.png
*.pth
*.mat
*.pkl
*.zip
*.tgz
*.sub

__pycache__
