# Ignore all .log files
*.log

# Ignore folder
oft-control/log/
oft-db/data/
oft-db/log_cot/
lightning_logs/
log/

# Ignore the 'build' folder
build/

# Ignore all .pyc files
*.pyc
*.txt
*.jpg
# *.png
*.pth
*.mat
*.pkl
*.zip
*.tgz

__pycache__
